<html>
<body>
  <h1> {{restaurant.name}}</h1>
  <h2>Edit Menu item</h2>

  <form action="{{ url_for('editMenuItem', restaurant_id=restaurant.id, item_id=item.id )}}" method = "POST">
  <p>
      Name:
  </p>
  <input type ="text" size="30" name="name" placeholder="{{item.name}}">
  <p>
  	Description:
  	<input type = "text" size="50" description="description" placeholder="{{item.description}}">
  </p>
  <p>
  	Price:
  	<input type = "text" size="5" price="price" placeholder="{{item.price}}">
  </p>
  <p>
  	Course:
  	<input list="course_values" course="course" placeholder="{{item.course}}">
      <datalist id="course_values">
        <option value="Appetizer"> </option>
        <option value="Entree"> </option>
        <option value="Dessert"> </option>
        <option value="Beverage"> </option>
      </datalist>
  <br>
  <input type ="submit" value = "Edit" >
  </form>

<a href = "{{url_for('restaurantMenu', restaurant_id=restaurant.id)}}"> Cancel </a>
</body>
</html>
